apiVersion: monitoring.grafana.com/v1alpha1
kind: GrafanaAgent
metadata:
  name: grafana-agent
  namespace: {{ .Release.Namespace }}
  labels:
    app: grafana-agent
spec:
  image: {{ .Values.image }}
  logLevel: info
  serviceAccountName: grafana-agent
  priorityClassName: platform-medium
  metrics:
    instanceSelector:
      matchLabels:
        agent: grafana-agent-metrics
    replicas: {{ .Values.replicas }}
    externalLabels:
      cluster: {{ .Values.clusterName }}
      environment: {{ .Values.environment }}
  logs:
    instanceSelector:
      matchLabels:
        agent: grafana-agent-logs
  resources:
    requests:
      cpu: {{ .Values.agent.resources.requests.cpu }}
      memory: {{ .Values.agent.resources.requests.memory }}
  tolerations:
    - operator: "Exists"
  podMetadata:
    labels:
      aadpodidbinding: grafana-agent
  containers:
    - name: grafana-agent
      volumeMounts:
        - name: secret-store
          mountPath: "/mnt/secret-store"
          readOnly: true
  volumes:
    - name: secret-store
      csi:
        driver: secrets-store.csi.k8s.io
        readOnly: true
        volumeAttributes:
          secretProviderClass: xenit-proxy-certificate
