apiVersion: monitoring.grafana.com/v1alpha1
kind: PodLogs
metadata:
  name: ingress-nginx-controller
  labels:
    xkf.xenit.io/monitoring: tenant
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/name: ingress-nginx
  namespaceSelector:
    matchNames:
    - ingress-nginx
  pipelineStages:
    - cri: {}
