apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: prometheus
  labels:
    name: prometheus
spec:
  provider: "{{.Values.cloudProvider }}"
  {{- if eq .Values.cloudProvider "azure" }}
  parameters:
    usePodIdentity: "true"
    keyvaultName: "{{ .Values.azureConfig.keyVaultName }}"
    objects:  |
      array:
        - |
          objectName: "{{ .Values.azureConfig.keyVaultSecretName }}"
          objectType: secret
    tenantId: "{{ .Values.azureConfig.tenantID }}"
  secretObjects:
    - secretName: "{{ .Values.secretName }}"
      type: kubernetes.io/tls
      data:
        - objectName: "{{ .Values.azureConfig.keyVaultSecretName }}"
          key: tls.key
        - objectName: "{{ .Values.azureConfig.keyVaultSecretName }}"
          key: tls.crt
  {{- end }}
  {{- if eq .Values.cloudProvider "aws" }}
  parameters:
    objects: |
      - objectName: "{{ .Values.awsConfig.keyParameterName }}"
        objectType: "ssmparameter"
      - objectName: "{{ .Values.awsConfig.crtParameterName }}"
        objectType: "ssmparameter"
  secretObjects:
    - secretName: "{{ .Values.secretName }}"
      type: kubernetes.io/tls
      data:
        - objectName: "{{ .Values.awsConfig.keyParameterName }}"
          key: tls.key
        - objectName: "{{ .Values.awsConfig.crtParameterName }}"
          key: tls.crt
  {{- end }}
