apiVersion: v1
kind: ServiceAccount
metadata:
  name: flux
  namespace: ${name}
  labels:
    toolkit.fluxcd.io/tenant: ${name}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gotk-reconciler
  namespace: ${name}
  labels:
    toolkit.fluxcd.io/tenant: ${name}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: User
  name: gotk:${name}:reconciler
- kind: ServiceAccount
  name: flux
  namespace: ${name}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: ${name}
  namespace: ${name}
spec:
  interval: 1m
  url: ${url}
  secretRef:
    name: flux
  ref:
    branch: main
---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: flux-system
  labels:
    app.kubernetes.io/part-of: flux
    app.kubernetes.io/component: monitoring
spec:
  namespaceSelector:
    matchNames:
      - flux-system
  selector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - helm-controller
          - source-controller
          - kustomize-controller
          - notification-controller
          - image-automation-controller
          - image-reflector-controller
  podMetricsEndpoints:
    - port: http-prom
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ${name}
  namespace: ${name}
spec:
  serviceAccountName: flux
  interval: 5m
%{ if include_tenant_name == true }
  path: ./tenant/${environment}/${name}
%{ else }
  path: ./tenant/${environment}
%{ endif }
  sourceRef:
    kind: GitRepository
    name: ${name}
  prune: true
---
apiVersion: notification.toolkit.fluxcd.io/v1beta2
kind: Provider
metadata:
  name: ${name}
  namespace: ${name}
spec:
  type: ${provider_type}
  address: ${url}
  secretRef:
    name: flux
%{ if create_crds == true }
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flux-tenant-${name}-crd-manage
rules:
- apiGroups: ["apiextensions.k8s.io"]
  resources: ["customresourcedefinitions"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: flux-tenant-${name}-crd-manage
subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: flux
    namespace: ${name}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: flux-tenant-${name}-crd-manage
%{ endif }
