{{- if eq .Values.cloudProvider "azure" }}
apiVersion: aadpodidentity.k8s.io/v1
kind: AzureIdentity
metadata:
  name: cert-manager
spec:
  type: 0
  resourceID: {{ .Values.azureConfig.resourceID }}
  clientID: {{ .Values.azureConfig.clientID }}
---
apiVersion: aadpodidentity.k8s.io/v1
kind: AzureIdentityBinding
metadata:
  name: cert-manager
spec:
  azureIdentity: cert-manager
  selector: cert-manager
{{- end }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    email: {{ .Values.notificationEmail }}
    server: {{ .Values.acmeServer }}
    privateKeySecretRef:
      name: letsencrypt-cluster-issuer-account-key
    solvers:
    - selector: {}
      dns01:
        {{- if eq .Values.cloudProvider "azure" }}
        azureDNS:
          environment: AzurePublicCloud
          subscriptionID: {{ .Values.azureConfig.subscriptionID }}
          resourceGroupName: {{ .Values.azureConfig.resourceGroup }}
          hostedZoneName: {{ .Values.azureConfig.hostedZone }}
        {{- end }}

