apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    toolkit.fluxcd.io/tenant: ${name}
  name: ${name}
  namespace: ${name}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    toolkit.fluxcd.io/tenant: ${name}
  name: gotk-reconciler
  namespace: ${name}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: User
  name: gotk:${name}:reconciler
- kind: ServiceAccount
  name: ${name}
  namespace: ${name}
---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: ${name}
  namespace: ${name}
spec:
  interval: 1m
  url: ${repo}
  ref:
    branch: ${branch}
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: ${name}
  namespace: ${name}
spec:
  serviceAccountName: ${name}
  interval: 5m
  sourceRef:
    kind: GitRepository
    name: ${name}
  prune: true
  validation: client
