cloudProvider: ""
secretName: "msg-queue"

azureConfig:
  resourceID: ""
  clientID: ""
  tenantID: ""
  keyVaultName: ""
  hostnameKeyVaultSecretName: "eventhub-hostname"
  topicKeyVaultSecretName: "eventhub-topic"
  connectionStringKeyVaultSecretName: "eventhub-connectionstring"

aadpodidbinding:
  name: vector
  enabled: true

image:
  repository: timberio/vector
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "0.24.1-alpine"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations:
  secret.reloader.stakater.com/reload: "vector"

podSecurityContext:
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  capabilities:
    drop:
      - ALL

securityContext: {}

nodeSelector: {}

tolerations: []

affinity: {}

resources:
  {}
  # requests:
  #   cpu: 15m
  #   memory: 25Mi
