cloudProvider: ""
secretName: "xenit-proxy-certificate"

azureConfig:
  resourceID: ""
  clientID: ""
  tenantID: ""
  keyVaultName: ""
  keyVaultSecretName: "xenit-proxy-certificate"

awsConfig:
  keyParameterName: "xenit-proxy-certificate-key"
  crtParameterName: "xenit-proxy-certificate-crt"

replicaCount: 2

serviceAccount:
  name: prometheus

service:
  type: ClusterIP
  port: 9090

resources:
  requests:
    memory: "250Mi"
    cpu: "20m"
  limits:
    memory: "1Gi"

volumeClaim:
  storageClassName: default
  size: 5Gi

remoteWrite:
  authenticated: true
  url: ""
  headers: {}

externalLabels:
  clusterName: aks1
  environment: dev

prometheus:
  resourceSelector:
    matchExpressions:
      - key: xkf.xenit.io/monitoring
        operator: In
        values: [platform]
  namespaceSelector:
    matchExpressions:
      - key: xkf.xenit.io/kind
        operator: In
        values: [platform]

enabledMonitors:
  falco: false
  opaGatekeeper: false
  linkerd: false
  flux: false
  aadPodIdentity: false
  csiSecretsStorProviderAzure: false
  csiSecretsStorProviderAws: false
  azadKubeProxy: false
