apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-sync.yaml
- gotk-components.yaml
patchesStrategicMerge:
- |-
  apiVersion: v1
  kind: Namespace
  metadata:
    name: flux-system
    labels:
      xkf.xenit.io/kind: "platform"
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: source-controller
    namespace: flux-system
  spec:
    template:
      spec:
        priorityClassName: platform-medium
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: notification-controller
    namespace: flux-system
  spec:
    template:
      spec:
        priorityClassName: platform-medium
        containers:
          args: 
            - '--rate-limit-interval=30m'
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: kustomize-controller
    namespace: flux-system
  spec:
    template:
      spec:
        priorityClassName: platform-medium
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: helm-controller
    namespace: flux-system
  spec:
    template:
      spec:
        priorityClassName: platform-medium
