name: changelog
on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - CHANGELOG.md
jobs:
  changelog:
    name: Generate CHANGELOG
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Generate
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: xenit-changelog.toml
          args: --verbose 2023.10.2..
        env:
          GITHUB_REPO: ${{ github.repository }}
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          OUTPUT: CHANGELOG.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token:  "${{ secrets.GITHUB_TOKEN }}"
          committer: GitHub <noreply@github.com>
          commit-message: "Update CHANGELOG"
          title: "doc: update CHANGELOG"
          delete-branch: true
          branch: update/CHANGELOG
          labels: |
            documentation
          add-paths: |
            CHANGELOG.md
